.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  position: relative;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  min-height: 20vh;
  z-index: 2;
}

.submitButton {
  margin: 10px 0;
  padding: 5px 25px;
  border-radius: 3px;
  background: none;
  border: none;
  transition: 0.3s;
}

.submitButton:hover {
  opacity: 0.5;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  margin-top: 0.5em;
  position: relative;
}

.description input {
  margin-top: 0.7em;
  border: none;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  background-color: transparent;
  text-align: center;
  padding: 4px;
}

.wrap {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.wrap>h4 {
  margin-top: 20px;
}

.wrap>div {
  display: flex;
  gap: 15px;
}

.description input:focus {
  outline: none;
}

.center {
  position: relative;
  text-align: center;
}

.result {
  overflow: hidden;
}

.loadingWrap {
  width: 100px;
  height: 5px;
  display: flex;
}

.loadingWrap span {
  height: 5px;
  width: 5px;
  border-radius: 90px;
  background: rgb(var(--foreground-rgb));
}

.listContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

.wrap100widthCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content .wrap100widthCenter {
  position: absolute;
  top: 60px
}

.submitButton>p {
  margin-top: 0;
}

.header {
  position: absolute;
  width: 100%;
}

.header p {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.header p:hover {
  opacity: 0.5;
}

.footerWrap {
  bottom: 25px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footerWrap h1 {
  font-size: 18px;
  margin-bottom: 15px;
}

.aboutMeWrap>div {
  text-align: center;
}

.aboutMeWrap>div>p {
  margin: 25px 0;
}

.buttonsWrap {
  margin: 50px auto 0 auto;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.buttonsWrap>button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(var(--foreground-rgb));
  background: none;
  border: none;
  font-size: 15px;
  margin-top: 60px;
  height: 100px;
  cursor: pointer;
  transition: 0.3s;
}
.buttonsWrap>button:hover {
  opacity: 0.5;
}

.buttonsWrap svg {
  font-size: 40px;
}

.portifolioButton {
  margin-top: 0px !important;
  font-size: 22px !important;
}

.main button:focus {
  outline: none;
}

.archiveDiv {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.archiveDiv>input {
  margin: 0;
}